<div *ngIf="this.currentUser">
  <div class="row justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse show" id="navbarSupportedContent">
        <div *ngIf="this.currentUser.is_admin==true; else student">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/questions">Questions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/topics">Topics</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/exams">Exams</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/users">Users</a>
            </li>
          </ul>
        </div>
        <ng-template #student>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/exams">Exams</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink="/submissions">Submissions<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </ng-template>
        <button class="btn btn-secondary btn-sm" (click)="logout()">Log Out</button>
      </div>
    </nav>
  </div>
</div>