<form class="form-inline">
    <div class="form-group">
        <label class="mr-2" for="contentText">Text: </label>
        <input type="text" class="form-control mr-2" name="contentText" id="textString" placeholder="4" />
    </div>
    <div class="form-check">
        <label class="mr-1 ml-4" >Correct?</label>
        <input class="form-check-input ml-4" type="radio" name="correct" id="correct" value="1" checked>
        Yes
        <input class="form-check-input ml-4" type="radio" name="correct" id="correct" value="0" checked>
        No
    </div>
    <button type="button" class="btn btn-danger ml-4">X</button>
</form>